.CategoryItem{
    flex: 1;
    margin: 10px;
    height: 70vh;
    position: relative;
    min-width: 300px;
}
.CategoryItem img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 2;

}

.CategoryItem_info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.cart_Item_count{
    padding-left: 0;
}
.CategoryItem h1{
    color: whitesmoke;
    margin-bottom: 20px;
    opacity: .7;
}
.CategoryItem button{
    border: none;
    padding: 10px;
    background-color: white;
    color: gray;
    cursor: pointer;
    font-weight: 600;
}